    /* Cart Container */
    .cart-container {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }
    
  /* Cart Items */
.cart-items {
    width: calc(70% - 1rem); /* Adjust for margin */
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.cart-item {
    display: flex;
    background-color: #f9f9f9;
    padding: 1rem;
    margin-bottom: 1rem;
}

.cart-item img {
    width: 100px; /* Adjust image size */
    height: 100px; /* Adjust image size */
    margin-right: 1rem;
}

.item-details {
    flex-grow: 1;
}

.item-details h3 {
    margin-bottom: 0.5rem;
}

.item-details p {
    margin-bottom: 0.5rem;
}

.item-details button {
    padding: 0.5rem 1rem; /* Adjust button padding */
    border: none;
    background-color: #A1CCD1;
    color: white;
    cursor: pointer;
    margin-right: 0.5rem;
}

    