.categories-container {
    /* background-color: white; */
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack items vertically */
    align-items:flex-start; /* Align items to the start of the container (left side) */
    margin-left: 20px; /* Add some left margin for spacing */
    padding: 10px; /* Add padding inside the container */
    gap: 10px;
}


.category-item {
    margin-bottom: 50px; /* spacing between categories */
    cursor: pointer;
}

.category-item:hover {
    text-decoration: underline;
}


.filter-page-title {
    font-size: 3.5em; /* Adjust font size as needed */
    font-family: "Guardian-EgypTT", "Charter", "Charter Bitstream", "Cambria", "Noto Serif Light", "Droid Serif", "Georgia", "serif";
    letter-spacing: .46515px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}