.filter-book-card {
    background-color: #fff;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    margin: 20px 0px;
    border-radius: 30px;
    width: 100%;
}

.filter-price {
    width:100%; 
}

.filter-book-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    padding: 20px;
    flex-grow: 1;
}

.filter-book-para {
    display: flex;
    
}

.filter-price {
    align-self: flex-end;
    text-align: end;
    margin: 0px;
}

.filter-description {
    margin: 0px;
}

@media (max-width: 760px) {
    .filter-book-para {
        flex-direction: column;
    }

    .filter-book-card img {
        align-self: flex-start;
    }

    .filter-book-card {
        padding: 10px 5px;
    }

    .filter-book-text {
        padding: 0px 0px 0px 10px;
    }

    .filter-price {
        margin-top: 10px;
    }
}
