/* src/components/Home/BookCard.css */

.book-card {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 350px;
}

.book-card img {
    width: 150px; /* Adjust the width as needed */
    height: 240px; /* Adjust the height as needed */
    object-fit: cover; /* This will ensure the image covers the area, maintaining aspect ratio without distortion */
    border-radius: 4px; /* Optional: adds rounded corners to the images */
    margin-bottom: 10px;
}

.book-card h3 {
    margin: 10px 0 0;
    font-size: 18px;
}

.book-card p {
    color: #666;
    font-size: 16px;
}

.book-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
    transform: translateY(-2px); /* Move the card up slightly on hover */
}

.book-card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    width: 80%;
}

.book-card-price {
    margin: 0;
}

.book-card .author {
    flex-grow: 0;
}

@media (max-width: 760px) {
    .book-card img {
        height: 300px;
        width: auto;
    }

    .book-card {
        padding: 10px;
    }

    .book-card h3 {
        margin-bottom: 10px; /* Add space between category text and image */
        font-size: 1em;
    }

    .book-card-grid {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .book-card-grid .book-card img{
        height: 200px;
    }

    .title {
        height: 15vh!important;
    }
}

