/* NavBar.css */

.navbar {
    background-color: #A1CCD1;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    font-size: 1.5em;
}

.navbar-categories {
    /* Add styles for categories if needed */
}

.navbar-search {
    margin-left: auto; /* Push search input to the right */
}

.navbar-search input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.navbar-actions {
    display: flex;
    align-items: center;
}

.navbar-actions div {
    margin-left: 10px;
    cursor: pointer;
}

/* Styles for navigation buttons */
.navbar-actions div:hover {
    text-decoration: underline;
}