/* NavBar.css */

.navbar {
    background-color: #A1CCD1;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}

.navbar-categories {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}

.navbar-search {
    margin-left: auto; /* Push search input to the right */
    width: auto;
}

.navbar-search input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
}

.navbar-actions {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}

.navbar-actions div {
    margin-left: 10px;
    cursor: pointer;
}

/* Styles for navigation buttons */
.navbar-actions div:hover {
    text-decoration: underline;
}

.navbar-categories div:hover {
    text-decoration: underline;
}