/* NavBar.css */

.navbar {
    background-color: #A1CCD1;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    color: #F4F2DE;
    font-size: 35px;
    font-weight: lighter;
    cursor: pointer;
    margin-left: 10px;
}

.navbar-categories {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
}

.navbar-search {
    margin-left: auto; /* Push search input to the right */
    width: auto;
    
}

.navbar-search input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 850px;
    height: 18px;
}

.navbar-actions {
    display: flex;
    align-items: center;
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    margin-left: auto;
}

.navbar-actions div {
    margin-left: 10px;
    cursor: pointer;
}

/* Styles for navigation buttons */
.navbar-actions div:hover {
    text-decoration: underline;
}

.navbar-categories div:hover {
    text-decoration: underline;
}




    
    
   
    
    .icon-container {
        position: relative;
        display: inline-block;
        cursor: pointer;
        }
        
        .icon-heart {
            /* Add your styling for the heart icon here */
            font-size: 24px; /* Example size, adjust as needed */
        }
        
        .tooltip {
            visibility: hidden;
            width: auto;
            background-color: blue;
            color: white;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }
        
        .icon-container:hover .tooltip {
            visibility: visible;
        }