.search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.search-inputs {
    display: flex;
    margin-bottom: 20px; /* Add some spacing between search inputs and results */
    
}

.search input {
    background-color: white;
    border: 3px solid transparent;
    border-radius: 20px;
    font-size: 15px;
    padding: 15px;
    height: 50px;
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the input */
    margin-top: 15px;
    font-style: italic;
}

.search input:focus { 
    border-color: rgb(233, 179, 132);
}

.search-icon {
    height: 50px; /* Adjust height to match input height */
    width: 50px; /* Adjust width to match input height */
    display: flex;
    place-items: center;
    position: relative; /* Change position to relative */
    color: black;
    cursor: pointer; /* Add pointer cursor */
    margin-left: -55px; /* Adjust to move closer to the input */
    margin-top: 15px;
}

.search-icon button {
    border: none;
    background-color: transparent; /* Make the button background transparent */
}

.search-results {
    position: absolute; /* Set position to absolute */
    top: calc(100% + 10px); /* Position it below the search input with some spacing */
    /* left: 0; Align it to the left edge of the navbar */
    width: 100%; /* Ensure full width */
    max-height: 200px; /* Limit the height of results */
    overflow-y: auto;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the results */
    background-color: white;
    z-index: 999; /* Set a high z-index to ensure it's on top of other content */
}


.search-results .book-item,
.search-results .book-author {
    padding: 10px 20px; /* Add padding to improve spacing */
    color: black;
    cursor: pointer;
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
}


