body {
    background-color: white; /* Change to your desired background color */
    margin: 0; /* Reset default body margin */
    padding: 0; 
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.search-page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh; 
}

.search-page-title h1 {
    font-size: 2.5em; /* Adjust font size as needed */
    font-family: "Guardian-EgypTT", "Charter", "Charter Bitstream", "Cambria", "Noto Serif Light", "Droid Serif", "Georgia", "serif";
    letter-spacing: .46515px;
    height: 10vh;
    font-style: italic;
}

.search-page-book-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
    grid-gap: 60px;
}
