.account-container .tabs {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.account-container .tab {
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
}

.account-container .tab:hover {
    background-color: #f0f0f0; 
}

.account-container .tab.active {
    background-color: #A1CCD1; 
    color: white; 
    text-align: left; 
}

.tab-content {
    padding: 20px;
    text-align: left; 
}

.email-preferences-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}
