/* src/App.css */

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 10em;
}

.read-the-docs {
  color: #888;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.overlay {
  background: rgba(244, 242, 222);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 28px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 30px;
  right: 35px;
  padding: 5px 7px;
  background-color: rgb(255, 255, 255);
}

.cl-formButtonPrimary {
  background-color: rgb(233, 179, 132);
}
.cl-formButtonPrimary:Hover {
  background-color: rgb(124, 157, 150);
}

.cl-internal-19xp6v9 {
  box-sizing: inherit;
  display: flex;
  flex-flow: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  gap: 3.5rem;
  will-change: transform, opacity, height;
  border-radius: 1rem;
  background-color: white;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px;
  border: 1px solid transparent;
  width: 25rem;
  max-width: calc(-5rem + 100vw);
  padding: 3rem 3rem 3rem;
}